<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('./component/head', { title: '채팅 - 점빵' }) %>
		<link rel="stylesheet" href="/static/chats.min.css" />
	</head>

	<body>
		<div id="jumbbang">
			<%- include('./component/header') %>
			<main class="container">
				<div class="chatsWrap py-5">
					<!-- <h1>My Chat</h1> -->
					<ul class="chatList">
						<% for(let i=0;i < 4;i++ ){ %>
						<li id="minji_xkjehshad<%= i %>">
							<a href="/chatRoom/minji_xkjehshad<%= i %>">
								<div class="profile1" style="background-image: url(/static/imgs/profile1.webp)"></div>
								<div class="txt">
									<strong class="subject h5">상품제목<%= i %></strong>
									<p>
										<span class="userid">상대방 아이디</span>
										<span class="date">2023-12-20</span>
									</p>
								</div>
							</a>
							<a href="/chatLogout/minji_xkjehshad<%= i %>" class="ibt-chatLogout"></a>
						</li>
						<% } %>
					</ul>
				</div>
			</main>
			<%- include('./component/footer') %>
		</div>
	</body>
</html>
